<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-appodeal" version="4.0.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Appodeal Plugin</name>
  <description>Appodeal Plugin</description>
  <author>Appodeal</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="AppodealPlugin" src="www/appodeal.js">
      <clobbers target="Appodeal"/>
    </js-module>

    <platform name="android">
		<preference name="ADMOB_APP_ID" default=""/>
		<config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml" mode="merge">
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="$ADMOB_APP_ID"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppodealPlugin">
                <param name="android-package" value="com.appodeal.plugin.AppodealPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/manifest" target="app/src/main/AndroidManifest.xml" mode="merge">
		    <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!--only for Vungle SDK -->
			<uses-permission android:name="android.permission.WAKE_LOCK" /> <!--only for Vungle SDK -->
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!--optional -->
			<!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> --> <!--optional -->
			<!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> --> <!--optional-->
		</config-file>
		<config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml" mode="merge">
			<uses-library android:name="org.apache.http.legacy" android:required="false" />
		</config-file>
        <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml" mode="merge">
			<activity android:name="com.appodeal.ads.InterstitialActivity" 
				android:configChanges="orientation|screenSize" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
			<activity android:name="com.appodeal.ads.VideoActivity" 
				android:configChanges="orientation|screenSize"
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
			<activity android:name="com.appodealx.mraid.MraidActivity" 
				android:configChanges="orientation|screenSize" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
			<activity android:name="com.appodeal.ads.VideoPlayerActivity" 
				android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
			<receiver android:name="com.appodeal.ads.AppodealPackageAddedReceiver" 
				android:exported="true" 
				android:enabled="true">
				<intent-filter>
					<action android:name="android.intent.action.PACKAGE_ADDED" />
					<data android:scheme="package" />
				</intent-filter>
			</receiver>
			<activity android:name="com.appodeal.ads.TestActivity" 
				android:theme="@android:style/Theme.Translucent.NoTitleBar" />

			<meta-data android:name="com.google.android.gms.version" 
				android:value="@integer/google_play_services_version" />
			<activity android:name="com.google.android.gms.ads.AdActivity" 
				android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
				android:theme="@android:style/Theme.Translucent" />

			<activity android:name="org.nexage.sourcekit.vast.activity.VASTActivity" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
				android:configChanges="keyboardHidden|orientation|screenSize"/>

			<activity android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

			<activity android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

			<!-- Applovin -->
			<activity android:name="com.applovin.adview.AppLovinInterstitialActivity" 
				android:configChanges="orientation|screenSize"/>
			<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" 
				android:configChanges="orientation|screenSize"/>
			<!-- End Applovin -->

			<!-- Mopub -->
			<activity android:name="com.mopub.common.privacy.ConsentDialogActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize"/>
			<activity android:name="com.mopub.common.MoPubBrowser" 
				android:configChanges="keyboardHidden|orientation|screenSize"/>
			<activity android:name="com.mopub.mobileads.MoPubActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.mopub.mobileads.MraidActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize"/>
			<activity android:name="com.mopub.mobileads.RewardedMraidActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"/>
			<activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize"/>
			<!-- End Mopub -->

			<!-- Amazon_ads -->
			<activity android:name="com.amazon.device.ads.AdActivity"
				android:configChanges="keyboardHidden|orientation|screenSize"/>
			<!-- End Amazon_ads -->

			<!-- Startapp -->
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.startapp.android.publish.ads.list3d.List3DActivity" 
				android:theme="@android:style/Theme" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity" 
				android:theme="@android:style/Theme.Translucent" 
				android:configChanges="orientation|keyboardHidden|screenSize" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity" 
				android:theme="@android:style/Theme" 
				android:configChanges="orientation|keyboardHidden|screenSize" />
			<!--suppress AndroidDomInspection -->
			<service android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService" />
			<!--suppress AndroidDomInspection -->
			<service android:name="com.startapp.android.publish.common.metaData.InfoEventService" />
			<!--suppress AndroidDomInspection -->
			<service android:name="com.startapp.android.publish.common.metaData.PeriodicJobService" 
				android:permission="android.permission.BIND_JOB_SERVICE" />
			<receiver android:name="com.startapp.android.publish.common.metaData.BootCompleteListener">
				<intent-filter>
					<action android:name="android.intent.action.BOOT_COMPLETED" />
				</intent-filter>
			</receiver>
			<!-- End Startapp -->

			<!-- Vungle -->
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.vungle.warren.ui.VungleActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" 
				android:launchMode="singleTop" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
			<activity android:name="com.vungle.warren.ui.VungleWebViewActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" 
				android:launchMode="singleTop" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
			<activity android:name="com.vungle.warren.ui.VungleFlexViewActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" 
				android:launchMode="singleTop" 
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
			<!-- End Vungle -->

			<!-- Flurry-ads -->
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity" 
				android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
			</activity>
			<!-- End Flurry-ads -->

			<!-- Mobvista -->
			<activity
				android:name="com.mintegral.msdk.activity.MTGCommonActivity"
				android:configChanges="keyboard|orientation"
				android:exported="true"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.Translucent.NoTitleBar" />
			<activity
				android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity"
				android:configChanges="orientation|keyboardHidden|screenSize"
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
			<activity
				android:name="com.mintegral.msdk.interstitial.view.MTGInterstitialActivity"
				android:configChanges="orientation|screenSize"
				android:screenOrientation="portrait" />
			<service android:name="com.mintegral.msdk.shell.MTGService">
				<intent-filter>
					<action android:name="com.mintegral.msdk.download.action" />
				</intent-filter>
			</service>
			<!-- End Mobvista -->

			<!-- Tapjoy -->
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.tapjoy.TJAdUnitActivity" 
				android:configChanges="orientation|keyboardHidden|screenSize" 
				android:hardwareAccelerated="true" 
				android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.tapjoy.mraid.view.ActionHandler" 
				android:configChanges="orientation|keyboardHidden|screenSize" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.tapjoy.mraid.view.Browser" 
				android:configChanges="orientation|keyboardHidden|screenSize" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.tapjoy.TJContentActivity" 
				android:configChanges="orientation|keyboardHidden|screenSize" 
				android:theme="@android:style/Theme.Translucent.NoTitleBar" 
				android:hardwareAccelerated="true" />
			<!-- End Tapjoy -->

			<!-- Ironsource -->
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.ironsource.sdk.controller.ControllerActivity" 
				android:configChanges="orientation|screenSize" 
				android:hardwareAccelerated="true" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.ironsource.sdk.controller.InterstitialActivity" 
				android:configChanges="orientation|screenSize" 
				android:hardwareAccelerated="true"
				android:theme="@android:style/Theme.Translucent" />
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.ironsource.sdk.controller.OpenUrlActivity" 
				android:configChanges="orientation|screenSize"
				android:hardwareAccelerated="true"
				android:theme="@android:style/Theme.Translucent" />
			<!-- End Ironsource -->

			<!-- Adcolony -->
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize" 
				android:hardwareAccelerated="true"/>
			<!--suppress AndroidDomInspection -->
			<activity android:name="com.adcolony.sdk.AdColonyAdViewActivity" 
				android:configChanges="keyboardHidden|orientation|screenSize" 
				android:hardwareAccelerated="true"/>
			<!-- End Adcolony -->

        </config-file>
        <framework src="com.google.android.gms:play-services-ads:10+" />

        <source-file src="src/android/AppodealPlugin.java" target-dir="app/src/main/java/com/appodeal/plugin" />
    	<framework src="src/android/dependency_fix.gradle" custom="true" type="gradleReference" />
		<source-file src="libs/Android/adcolony-3.3.4.aar" target-dir="app/libs" />
		<source-file src="libs/Android/amazon_ads-5.9.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/applovin-8.0.2.jar" target-dir="app/libs" />
		<source-file src="libs/Android/appodeal-2.4.10.jar" target-dir="app/libs" />
		<source-file src="libs/Android/converter-gson-2.2.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/fetch-1.1.5.jar" target-dir="app/libs" />
		<source-file src="libs/Android/ironsource-6.7.9.1.jar" target-dir="app/libs" />
		<source-file src="libs/Android/logging-interceptor-3.7.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-alphab.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-common.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-interstitial.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-interstitialvideo.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-mtgdownloads.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-mtgjscommon.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-mtgnative.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-nativeex.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-playercommon.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-reward.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-videocommon.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mobvista-9.0.0-videojs.aar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-sdk-5.1.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-sdk-banner-5.1.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-sdk-base-5.1.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-sdk-interstitial-5.1.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-sdk-native-static-5.1.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-sdk-rewardedvideo-5.1.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/mopub-volley-2.0.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/ogury-3.0.13.aar" target-dir="app/libs" />
		<source-file src="libs/Android/retrofit-2.2.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/startapp-3.9.3.jar" target-dir="app/libs" />
		<source-file src="libs/Android/tapjoy-11.12.2.jar" target-dir="app/libs" />
		<source-file src="libs/Android/VNG-moat-mobile-app-kit-2.2.0.jar" target-dir="app/libs" />
		<source-file src="libs/Android/vungle-6.3.12.jar" target-dir="app/libs" />

	</platform>

    <platform name="ios">
      <config-file parent="/widget" target="config.xml">
        <feature name="AppodealPlugin">
          <param name="ios-package" value="AppodealPlugin"/>
        </feature>
      </config-file>
      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
              <key>NSAllowsArbitraryLoadsInWebContent</key>
              <true/>
          </dict>
      </config-file>
      <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
          <string>Advertising</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
          <string>Advertising</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <string>Advertising</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>Advertising</string>
      </config-file>
      <header-file src="src/ios/AppodealPlugin.h"/>
      <source-file src="src/ios/AppodealPlugin.m"/>
		<framework src="Appodeal" type="podspec" spec="2.4.4.3-Beta" />
      </platform>
</plugin>
